<img src="images/beer.png" alt="none"/>
<section>
    <div class="linkButtons">
        <a href="/beers">Check the Beers!</a>
        <a href="/random-beer">Check a Random Beer</a>
    </div>
</section>